* {
  padding: 0;
  margin: 0;
}

.appBar {
  display: flex;
  flex-direction: column;
  background-color: #c6e7c5;
  padding: 20px 50px 20px 50px;
}

.firstLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.firstLine .searchBar .textField {
  height: 33px;
  width: 300px;
  padding: 0 20px;
  border: solid 1px;
  border-color: black grey grey black;
  border-radius: 4px;
}

.firstLine .searchBar .icon {
  width: 25px;
}

.firstLine .searchBar {
  position: relative;
}

.firstLine .searchBar .searchIcon {
  position: absolute;
  top: 2px;
  right: 6px;
}

.firstLine .rightSide {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.firstLine .homeLink {
  text-decoration: none;
  font-weight: 900;
  color: #152446;
  font-size: xx-large;
}

.firstLine .iconsContainer {
  display: flex;
  flex-direction: row;
}

.firstLine .iconsContainer .icon {
  width: 17px;
  margin: auto 20px;
}

.secondLine {
  text-align: center;
}

.secondLine .listPages {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  list-style-type: none;
  justify-content: center;
}

.secondLine .listPages .pageItem {
  padding: 0 15px;
}

.secondLine .listPages .pageItem .pageLink {
  text-decoration: none;
  color: #223552;
}
