.gridContainer {
  display: grid;
  grid-template-columns: 50px 310px;
  gap: 10px;
  width: 370px;
  height: 90px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #00337d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.item {
  padding: 20px;
  text-align: left;
  font-size: 20px;
}

.icon {
  width: 50px;
  height: 50px;
}
