@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.product {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  /* margin: 2px 0; */
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.87);
}

.productImage {
  width: 100%;
  margin: auto;
}

.productImage .productImg {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.productName .name {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(5, 5, 100);
}

.productPriceThrough {
  height: 16px;
  color: #595959;
  font-size: 0.8rem;
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
}

.productPriceShow {
  color: #0068ff;
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 2px;
}

.product .wrapBlockPriceAndBtn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.product .blockBoxBtn {
  display: flex;
  padding-top: 5px;
  justify-content: space-between;
  align-items: center;
}

.product .blockBoxBtn .mainBtn {
  padding: 5px 12px;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
}

.product .blockIconBtn {
  display: flex;
  align-items: center;
}

.product .productIcon {
  margin-right: 10px;
}

.productIconCart {
  width: 25px;
}

.productIconHeart {
  width: 17px;
}
