.order-page-content {
  width: fit-content;
}

.wrapper-orders-table {
  width: 800px;
  height: 330px;
  overflow-y: scroll;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.wrapper-orders-table::-webkit-scrollbar {
  display: none;
}

.wrapper-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
}

.order-state-btn {
  width: fit-content;
  padding: 8px 10px;
  border-radius: 3px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.selected {
  background-color: #c2e8c7;
}

.order-state-btn:hover {
  filter: brightness(80%);
}

.table {
  width: 100%;
  height: 330px;
  border-radius: 5px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  color: #041e42;
  background-color: inherit;
}

th,
td {
  padding: 15px 15px 7px 10px;
  border-bottom: 1px solid #000000;
}
th {
  text-align: left;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
tbody td {
  position: relative;
}
tbody td:hover:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.order-details-link {
  text-decoration: none;
  color: #db4444;
}

.order-details-link:hover {
  filter: brightness(60%);
}
