.wrapperPwdModal {
  width: 280px;
  box-sizing: border-box;
  padding: 20px;
  font-size: 0.7em;
  border-radius: 5px;
  background-color: #ffeef0;
  position: absolute;
  z-index: 10;
  top: -50%;
  left: -300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapperPwdModal::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 10px solid #ffeef0;

  border-bottom: 8px solid transparent;
  position: absolute;
  top: 45%;
  right: -10px;
}

.wrapperPwdModal .text {
  padding: 0;
  margin: 0;
  text-align: start;
}

.wrapperPwdModal .wrapperPwdDirection {
  display: flex;
}

.wrapperPwdDirection .wrapperIcon {
  min-width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #e34744;
  position: relative;
  margin-right: 10px;
}

.wrapperPwdDirection .wrapperIcon .icon {
  width: 9px;
  height: 9px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapperPwdDirection .wrapperSuccessIcon {
  background-color: #8fd060 !important;
}
