.sidebar {
  min-width: 250px;
  background-color: #f5f5f5;
  color: #041e42;
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.wrapperNavLink {
  padding: 20px;
  list-style-type: none;
  cursor: pointer;
}

/* .wrapperNavLink:hover {
  color: #0068ff;
} */

.activeLink {
  color: #0068ff !important;
}

.wrapperNavLink:active {
  text-shadow: 1px 1px 2px grey;
}

.navLink {
  text-decoration: none;
  color: #041e42;
}
