.wrapperAccountModal {
  width: 450px;
  height: 120px;
  background-color: white;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.heading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading .headingText {
  margin: 0;
  color: #041e42;
  font-size: 1.1rem;
  font-weight: 600;
}

.wrapperBtn {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  border-top: 1px solid grey;
}

.wrapperBtn .btn {
  width: 190px;
  height: fit-content !important;
  margin: 0;
  padding: 3px 0;
  border-radius: 3px;
}

.wrapperBtn .cancelBtn {
  background-color: white;
  color: #041e42;
  border: 1px solid #041e42;
}
