.main-content--forget-pwd {
  background-color: white;
}

.wrapper-content {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form--forget-pwd .heading {
  font-size: 1.7em;
  text-align: start;
  padding-bottom: 10px;
}

.direction {
  text-align: start;
  padding-bottom: 15px;
}
