.wrapperChangePasswordPage {
  width: 100%;
  background-color: #f2f2f2;
}

.wrapperChangePassword {
  width: fit-content;
  margin: 0 auto;
}

.wrapperInputField {
  display: flex;
}

.wrapperLabel {
  width: 170px;
}

.inputField {
  width: 300px;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 3px;
}

.labelInput {
  width: 170px;
}

.footer {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.changePasswordBtn {
  width: 250px;
  display: block;
  margin-left: 20px;
  text-align: center;
  padding: 8px 0;
  border: none;
  outline: none;
  background-color: #152446;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}
