body{  
}

.Frame_Payment{
    background: #f5f5f5;
    .payment_top{
        padding:25px;
        display: flex;
        margin: 0 0 30px 0 ;
        background: white;
        font-size: 40px;
        h2{
            font-weight: bold;
            margin-left: 10px;
        }
    }
    .address{
        background: white;
        padding: 25px;
        margin: 0 100px;
        justify-content: space-between;
        
        .add1{
            font-size: 17px;
        }
        .add_address{
            font-size: 17px;
            justify-content: space-between;
            
            span{
                margin: 0 680px 0 0 ;
                color: #041E42 ;

            }
            button{
                background: none;
                border: none; 
            }

        }
    }
}

///////////////
.Payment_bottom{
    margin: 40px 100px 0 100px;
    background: white;
    font-size: 17px;
    height: 700px;
    table{
        width: 100%;
        th{
            background: #FFDFE3;
            padding:5px;
            text-align: center;
            width: 250px;
        }
        .th1{width: 450px;}

        td{
            background: white;
            padding:5px;
            text-align: center;
            width: 250px;
            p{
                padding-top: 33px;
            }
        }

        tbody{
            border: 1px solid #b4b4b4;
            border-radius: 5px;
            box-shadow: 0px 1px 1px 1px #b4b4b4;
            .spec{
                text-align: left;
                width: 100%;
                display: flex;
                b{
                    color: #00337D;
                }
                img{
                    width: 80px;
                    border: 1px solid #041E42;
                    border-radius:5px ;
                    margin: 5px 15px;
                    box-shadow: 0 1px #696969 ;
                }
            }
            
        }

        
    }
    .voucher{
        display: flex;
        margin: 30px;
        justify-content: end;
    
        button{
            margin-left: 100px;
            padding: 5px 10px;
            border: none;
            background: none;
            color: rgb(64, 64, 226);
        }
    
        p{
            padding-top: 20px;
        }
    
        .icon_voucher{
            margin: 20px;
            height: 25px;
            width: 25px;
        }
    }

    .delivery{
        margin: 40px;
        justify-content: end;
        display: flex;
        button{
            border: none;
            background: none;
            margin: 0 150px 14px 40px;
            color: rgb(64, 64, 226);
        }
        p{
            margin-right: 100px;
        }
    }

    .tongtien{text-align: end;
        margin: 40px;
        span{
            margin-right: 40px;
        }}

    .money{
        margin: 40px;
        display: flex;
        justify-content: space-between;
        .money_left{
            .money_left_child{
                img{
                    margin: 0 25px 5px 5px
                }
                p{
                    margin-top: 10px;
                }
            }
        }
        .money_right{

            span{
                margin-left: 100px;}}         
    }

    .dathang{
        background: #041E42;
        color: white;
        padding: 5px 20px;
        margin-right: 30px;
        float: right;
        text-decoration: none;
    }
   
}




///-------wrapper------
.modal_wrapper{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(28, 27, 27, 0.9);


}
.modal_container{
    color: #041E42;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f5f5;
    width: 650px;
    padding: 30px;
    font-size: 16px;
    color: #041E42;
    border-radius: 5px;
    
    span{
        color: rgb(216, 80, 80);
    }
    label{
        color: #b4b4b4;}

    .new_add1{
        margin-top: 20px ;
        display: flex;
        margin-bottom: 15px;
        
        input{
            border: none;
            height: 30px;
            width: 270px;
            margin-right: 50px;
        }

        
       }
    
    .new_add2{
        display: flex;
        select{
            width: 190px;
            border: none;
            height: 30px;
            margin-right: 10px;
            margin-bottom: 20px;
        }}
    .new_add3{
        input{
            width: 305%;
            border: none;
            height: 30px;
            margin-bottom: 20px;
        }}
    .new_add4{
        margin-bottom: 20px;
        span{
            color: #041E42;
            margin: 0 0 0 10px;
        }
        input{
            border: 1px solid #041E42
        };
    }

    center{
        button{
            border: none;
            text-decoration: underline;
            background: none;
            font-size: 18px;
            margin: 0 20px;
            border-radius: 5px;
        }

        .spebut{
            background: #041E42;
            text-decoration: none;
            padding: 5px 15px;
            color: #f5f5f5;
        }
    }
}

///Xác minh
.confirm{
    margin: 3% 35%;
    width: 500px;
    // height:400px;
    padding: 50px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background: #f5f5f5;
    input{
        width: 30px;
        margin: 20px 5px 20px 0;
        border-radius:3px ;
        border: 1px solid #041E42;
    }
    button{
        border: none;
        background: none;
        margin-bottom: 20px;
        color: rgb(150, 150, 150);
    }
    h3{
        margin: 20px 0;
    }
    p{
        margin: 20px 0 0 0;}
    h5, p, .specint {
        margin-left: 70px ;
    }
    
    .speclink{
        text-decoration: none;
        border: 1px solid #041E42;
        background: #041E42;
        padding: 7px 30%;
        color: white;
    }
    .speclink1{
       
    }
  
    a{
        color:#041E42;
    }
}
.payment_money{
    margin: 3% 35%;
    width: 500px;
    // height:600px;
    padding: 50px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background: #f5f5f5;
    img{
        width: 60%;
    }
    p{
        color: #b4b4b4;
        font-size: 16px;
    }
    a{
        color: #041E42;
        font-size: 20px;
    }}
.confirm_success{
    margin: 15% 35%;
    width: 500px;
    // height:400px;
    padding: 50px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background: #f5f5f5;
    color: #041E42;
    .iconcheck{
        font-size: 60px;
        color: #041E42;
        margin-bottom: 10px;
    }
    h3{
        font-weight: bold;}

    p{
        font-size: 15px;
        margin-bottom: 30px;
    }

    a{
        text-decoration: none;
        font-size: 20px;
        border-radius: 30px ;
        padding: 10px 30px;
        color: #041E42;
        border: 1px solid #041E42;

    }
}
