body{  
}

.Frame_Payment{
    background: #f5f5f5;
    .payment_top{
        padding:25px;
        display: flex;
        margin: 0 0 30px 0 ;
        background: white;
        font-size: 40px;
        padding-left: 100px;
        h2{
            font-weight: bold;
            margin-left: 15px;
        }
    }
    .address{
        background: white;
        padding: 25px;
        margin: 0 100px;
        justify-content: space-between;
        
        .add1{
            font-size: 17px;
        }
        .add_address{
            font-size: 17px;
            justify-content: space-between;
            
            span{
                margin: 20px 0 0 20px;
                color: #C2C2C2 ;

            }
            button{
                color: #00337D;
                font-weight: bold;
                background: none;
                border: none; 
                float: right;
            }

        }
    }
}

///////////////
.Payment_bottom{
    margin: 40px 100px 0 100px;
    background: white;
    font-size: 17px;
    padding-bottom: 80px;
    // height: 700px;
    table{
        width: 100%;
      tbody{
        border-radius: 5px;
        box-shadow: 0px 1px 1px 1px #b4b4b4;
      } 
        th:first-child{
            border-radius: 5px 0 0 0;
            text-align: left;
            padding-left: 15px;
            font-weight: 600;
            letter-spacing: 1px;
            .iconshop{
                margin: -3px 10px 0 10px;
                background: #041E42;
                color:white ;
                border-radius: 50%;
                width: 21px;
                height: 16px;}}
        th:last-child{
            border-radius: 0 5px 0 0;
        }
        th{
            background: #FFDFE3;
            padding:5px;
            text-align: center;
            font-weight: normal;
        }
        .spec{
            text-align: left;
            width: 100%;
            display: flex;
            p{
                margin-top: 28px;
            }
            b{
                color: #00337D;
            }
            input{
                color: #041E42;
            }
            img{
                    width: 80px;
                    border: 1px solid #041E42;
                    border-radius:5px ;
                    margin: 5px 15px;
                    box-shadow: 0 1px #696969 ;
                }}
        td{
            background: white;
            padding:15px;
            text-align: center;
            border-radius: 0 0 5px 5px;}        }
    .voucher{
        display: flex;
        justify-content: end;
        border-bottom: 1.5px dotted #C5C5C5 ;
        button{
            margin-right: 30px;
            margin-left: 100px;
            padding: 5px 10px;
            border: none;
            background: none;
            color: rgb(64, 64, 226);
        }
    
        p{
            padding-top: 20px;
        }
    
        .icon_voucher{
            margin: 20px;
            height: 25px;
            width: 25px;
        }
    }

    .delivery{
        justify-content: end;
        display: flex;
        border-bottom: 1.4px dotted #C5C5C5;
        margin: 30px 0px 30px 300px;
        p{
            margin-right: 100px;
        }
        b{color:#00337D; 
            p{ color: #041E42;
                font-weight: normal;
                font-size: 12px;
            }
        }
        div{
            margin-right: 40px;
        }
    }
    .tongtien{
        text-align:end;
        border-bottom: 1.5px dotted #C2C2C2;
        padding-bottom: 10px;
        span{
            margin-right: 40px;
            float: right;
            margin-left: 230px ;
        }}

    .money{
        margin: 40px;
        display: flex;
        justify-content: space-between;
        color: #041E42;
        .money_left{
            .money_left_child{
                img{
                    margin: 0 25px 5px 5px;
                    width: 35px;
                }
                p{
                    margin-top: 10px;
                }
            }
        }
        .money_right{
            width: 50%;

            div{
                border-bottom: 1.5px dotted #c2c2c2;
                margin-bottom: 10px;
                padding-bottom: 5px ;

            }
            div:last-child{
                font-weight: bold;
                font-size: 22px;
            }
   
            span{
                float: right;}}    
                
                    
    }
    .dathang{
        background: #041E42;
        color: white;
        padding: 5px 20px;
        text-decoration: none;
        float: right;
        margin: 0 30px 0px 0;
    }

 
}






///Xác minh
.confirm{
    margin: 3% 35%;
    width: 500px;
    padding: 50px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background: #f5f5f5;
    .so{
        display: flex;
        margin: 20px 0 0 50px ;
        input{
            margin-left: 20px;
            width: 30px;
            border-radius:3px ;
            border: 1px solid #041E42;
        }
    }
   
    button{
        border: none;
        background: none;
        margin-bottom: 20px;
        color: rgb(150, 150, 150);
    }
    h3{
        margin: 20px 0;
    }
    .special{
        margin: 20px;
    }
    a{
        margin-top: 10px;
    }

    p{
        margin: 20px 0 0 0;}
    h5, p, .specint {
        margin-left: 70px ;
    }
    
    .speclink{
        text-decoration: none;
        border: 1px solid #041E42;
        background: #041E42;
        padding: 7px 30%;
        color: white;
    }
    .speclink1{
       
    }
  
    a{
        color:#041E42;
    }
}
.payment_money{
    margin: 25px 400px;
    width: 400px;
    padding: 40px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background: #f5f5f5;
    img{
        width: 50%;
    }
    p{
        color: #b4b4b4;
        font-size: 16px;
    }
    a{
        color: #041E42;
        font-size: 20px;
    }}
.confirm_success{
    margin: 50px 350px;
    width: 400px;
    padding: 50px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background: #f5f5f5;
    color: #041E42;
    .iconcheck{
        font-size: 60px;
        color: #041E42;
        margin-bottom: 10px;
    }
    h3{
        font-weight: bold;}

    p{
        font-size: 15px;
        margin-bottom: 30px;
    }

    a{
        text-decoration: none;
        font-size: 20px;
        border-radius: 30px ;
        padding: 10px 30px;
        color: #041E42;
        border: 1px solid #041E42;

    }
}
