.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  color: #041e42;

  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  /* border: 1px solid black; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

li {
  padding: 20px;
  list-style-type: none;
  cursor: pointer;
}

li:hover {
  color: #0068ff;
}

li:active {
  text-shadow: 1px 1px 2px grey;
}
