.Frame_Product_Detail{
    margin: 20px;
    font-size: 10px;

}
.Product_Detail_Top{
    display: flex;
    color: #041E42;

}


.Product_Image{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 400px;
    height:fit-content;
    border: 1px solid black;
    text-align: center;
    border: 1px solid #f5f5f5;

}



.Product_Imaeg_large{

    
    img{
    border: 1px solid rgb(93, 93, 93);
       border-radius: 5px;
        width: 300px;
        height: 300px;
        margin: 10px;
    }
}

.Product_Imaeg_small{
    justify-content: center;
    img{
        border: 1px solid rgb(203, 203, 203);
        margin: 20px 5px;
        width: 120px;
        height: 120px;
        
    }
}

.Product_Buy{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;

    .product_name{
        display:  flex;
        margin-bottom: 10px;
        flex-direction: row;
        h2{
            margin-right: 5px
        }
    };

    .Icon_star{
        margin-bottom: 20px;
    }

    .Button_qty{
        margin-bottom: 20px;
        button{
            background: #f5f5f5;
            padding: 1px 10px;
            margin: 5px 1px 5px 0;
            border: 1px solid rgb(137, 137, 137);
            border-radius: 5px;
        }
        input{
            width: 24px;
            height: 17px;
            margin-right: 1px;
            background: #f5f5f5;
            border: 1px solid rgb(137, 137, 137);
            border-radius: 5px;}
    }

    .Button_buy{
        display: flex;
        margin-bottom: 20px;
        button{
            padding: 5px 25px;
            margin-left: 5px;
            font-size: 15px;
            font-weight: bold;
            color: #041E42;
            background: white;
            border: 1px solid #041E42;
            border-radius: 5px
        };
        a{
            padding: 7px 20px 5px 20px;
            text-decoration: none;
            color: white;
            background: #041E42;
            border-radius: 5px;
        }
        
    }

    .Delivery{
        margin-top: 10px;
        border: 1px solid rgb(171, 171, 171);


        hr{

            margin: 5px 65px 5px 0;
           
        };
        .De1{
            margin-left: 5px;
            span{
                margin-left: 5px
            }
        };
        .De2{
            margin-left: 5px; 
            b{
                margin-left: 5px
            }
        }
    }


}