.rate-filter {
  .search-btn,
  .add-btn {
    color: #041e42;
    background: #c2e8c7;
  }
}
.rate-table {
  .edit-btn,
  .active-btn {
    color: #041e42;
    background: #c2e8c7;
  }
}
.specrate{
  width: 300px;
}