.Category__Sidebar{
    width: 100%;
    height: 400px;
    padding: 5px;
    margin: 50px 35px 35px 20px;
    border: 1px solid black;
    border-radius: 5px;
    
    background-color: #F5F5F5F5;

    button{
        display: flex;
        margin: 5px;
        border: none;
        background: none;
    }
    h4{
        color: #041E42;
    }

    ul{ font-size: 14px;
        list-style-type: none;

    }
    li{
        display: flex;
        flex-direction: row;
        padding: 5px;

    }

}
.Icon_cate{
    list-style-type: none;
    background: none;
    border: none;
    margin-right: 5px;
    color: #041E42;
}