.Category__Sidebar{
    max-width: 300px;
    padding: 10px;
    margin: 50px 20px 35px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F5F5F5F5;
    color: #041E42;
    // h4{
    //     margin-left: 30px;
    //     text-align: center;
    // }


    ul{margin-right: 65px ;

    }

   .category{
    
            a{
            color: #041E42;
            text-decoration: none;}

            ul{ font-size: 14px;
            list-style-type: none;
            }
            li{
            display: flex;
            flex-direction: row;
            padding: 5px;
            width: 120px;}}
    
}


.input_soft{
    width: 10px;
}
label{
    display: flex;
    margin-left: 10px;
    p{
        margin: 5px 30px;
    }
}