@import url('../../Style/style.scss');
// product
.item{   
    display: flex;
    flex-wrap: wrap;
    color: #041E42;
    margin: 0 0 20px 20px;
    .child{
        width: 210px;
        height: 340px;
        padding: 5px 0 10px 10px ;
        margin:50px 0 10px 15px ;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 1px 0 0 ;
    }
   img{
    width: 200px;
    height: 200px;
    text-align: center;
   }
   .child_inf{
    display: flex;
    flex-direction: column;
        h4{
            font-size: 15px;
            height: 40px;
            margin: 10px 5px;
            color: #00337D;
        }
        p{
            margin: 0px 5px;
            font-size: 20px;
            color: #0068FF;
            font-weight: 900;   
            font-family: 'Lexend Deca', sans-serif;   
        }}
   
    a{text-decoration: none;
        :visited{
            color: #041E42;
        }
        :link{
            color: #041E42;
        }}

    .item__buy{
        margin-top: 15px;
        display: flex;
        button{
            color: #041E42;
            padding: 5px 18px;
            border: 1px solid;
            border-radius: 10px;
        }
        a{justify-content: space-between;
            border: 1px solid #041E42;
            border-radius: 20px;
            background: none;
            padding: 5px 15px;
            color: #041E42;
            :visited{
                color:#041E42;}
        }

        .item__buy__icon{
            display: flex;
            button{
             background: none;
             border: none;
            //  width: 30px;
            //  height: 30px;
             font-size: 20px;
             padding: 0px 0px 0px 15px;
             margin-top: -5px;
            }
             }
        }
    }

// sort
.Frame_filter{
    color: #041E42;
    padding: 10px;
    background: #FFDFE3 ;
    display: flex;
    justify-content: end;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 1px rgb(166, 168, 167);
    h5{
        margin: 7px 10px;
        font-weight: 500;
    };
    
    .Frame__filter__right{
        display: flex;
        button{
            height: 20px;
            display: flex;
            border: #bbbbbb;
            border-radius: 5px;
            background:#f5f5f5;
            margin-left: 10px;
            padding: 10px;
            font-size: 14px;
            color: #041E42;
    
            .Icon{
                margin: 3px 3px 0 0;
            }
        }; };
      
}

// detail product
.Detail_Product{
    display: flex;
    margin: 50px 100px;
    border: 1px solid #C5C5C5;
    padding: 15px;
    
    .Image{
        display: flex;
        width: 40%;
        flex-direction: column;
        margin-right: 50px;
        align-items: center;

        .Image_large{
            border: 1px solid #C5C5C5;
            img{            
                width: 100%;
            }
        };
        .Image_small{    
            display: flex;
            flex-wrap: nowrap;
            padding: 20px;
            width: 100%;
            justify-content: space-between;
            img{
                border-top: 1px solid #C5C5C5;
                border-bottom: 1px solid #C5C5C5;
                width: 30%;
            }
        }
    }

    .Infomation{
        width: 60%;
        color: #041E42;
       .breadcrumdetail{
        height: 35px;
        border-radius: 3px;
        margin: -20px 0 0 -5px;
        background: #F5F5F5;
        font-size: 15px;
        color: #00337D;
       }
        .name{
            display: flex;
            flex-direction: row;
            font-size: 24px;
            margin: 15px 0 ;
            font-weight: 600;
            font-family: 'Lexend Deca', sans-serif;   
            color: #00337D;
            
            }
        }

        .iconstar{
            margin-right: 5px;
            font-size: 20px;
            color: #FFAD33;
            font-weight: bold;}

        .price{
            font-family: 'Lexend Deca', sans-serif;  
            margin: 10px 0;
            font-size: 30px;
            font-weight: bold;
            color: #00337D;
        }
        button{
            border: none;
            background: none;
            .icon_heartfill{
                color: rgb(170, 4, 4);
                width: 30px;
                font-size: 25px;
                margin: 0px 5px;
            }
            .icon_heart{
                color: #041E42;
                width: 30px;
                font-size: 25px;    
                margin: 0px 5px;

            }}

        .qty{
            display: flex;
            margin: 20px 0;

            color: #041E42 ;
            button{
                height: 40px;
                width:40px;
                margin-right: 1px;background: none;
                border: 1px solid #041E42;
                border-radius: 5px;
                font-weight: bold;
                font-size: 16px;}
            input{
                height: 40px;
                width: 40px;
                margin-right: 0.7px;
                text-align: center;
                border: 1px solid #041E42;
                border-radius: 5px;
            }}

        .buy_product{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            margin: 20px 0 30px 0;
            a{ width: 70%;
                height: 50px;
                color: white;
                font-size: 24px;
                font-weight: bold;
                text-decoration: none;
                background: #041E42;
                border: 1px solid #f5f5f5;
                border-radius: 5px;
                margin-right: 5px;
                padding: 10px 0 0 0;
                text-align: center;
                font-family: 'Lexend Deca', sans-serif;  

            }

            button{
                width: 100%;
                background: white;
                border: 1px solid #041E42;
                font-weight: 700;
                font-family: 'Lexend Deca', sans-serif;  
                font-size: 24px;
                border-radius: 5px;
                           }}
           

        .Deli{
            border: 1px solid #041E42;
            border-radius: 5px;
            padding: 10px;
            font-size: 14px;
            p{margin-left: 5px;}
            a{
                color: #041E42;
                
            }
            .icon{
                width: 40px;
                font-size: 20px;
                margin-top: 15px;
              }
            
           
            .Deli1{
                display: flex;
                margin-bottom: 7px;
                border-bottom: 1px solid #a6a6a6;
                
            }
        }
        .Deli2{
            display: flex;}

}

.line{
    background: #041E42;
    border-radius: 10px;
    height: 10px;
    margin: 10px 50px;
    
}
.frame__bottom{
    display: flex;
    margin: 30px 100px;
    .frame_1{
        width: 150%;
    }
    .camket{
        color: #041E42;
        ul{font-family: 'Lexend Deca', sans-serif;  
            border: 1px solid #a6a6a6;
            padding-top: 10px;
            padding-bottom: 137px;
            font-weight: bold;
            li{
                font-weight: normal;
                padding-right: 5px;
            }
        }
        img{
            margin-top: 12px;
            width: 100%;
        }
    }
}
.frame_descrip{
    margin: 0px 30px 30px 0;
    display: flex;
    border: 1px solid #041E42;
    padding: 20px;
    background-color: #f5f5f5;
    img{
        width: 100%;
        padding:50px 0 ;
    }

    .descrip_name{
        display: flex;
        justify-content: left;
        
        
        button{
            font-family: 'Lexend Deca', sans-serif;  
            background: none;
            border: none;
            margin: 0 20px;
            font-size: 20px;
            cursor: pointer;
            color: #041E42;
            font-weight: bold;
        }
        button:focus{
            color: #0068FF;
            text-decoration: underline;

        }

        }

    .frame_content{
        border: 1px solid rgb(195, 195, 195);
        padding: 30px;
        white-space: pre-line 
    }}

    // sidebar
.Category__Sidebar{
    width: 200px;
    max-width: 200px;
    min-width: 200px;
    padding: 15px;
    margin: 50px 6px 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #F5F5F5F5;
    color: #041E42;
    b{
      font-family: 'Lexend Deca', sans-serif;   
        font-size: 30;
        text-decoration:underline;
        margin: 10px 0;
        font-weight: 550;
        letter-spacing: 1.5px;
    }
   .category{
    // margin: 0 100px 0 0 ;
    color:#041E42;
        a{
            text-decoration: none;
            color:#041E42;
        }
        a:focus{
            color: #0068FF;
        }
        ;
        
        .dropdown{
            border-left: 1px solid #041E42;
            padding-left: 5px;
            width: 150px;
            margin: 0 0 10px 20px;
        }}
    .brandandprice{
        .b1{
            label{
                display: flex;
                margin: 15px 10px;
                p{
                    margin: 0 0 0 10px;
                }}}}
}



////đánh giá

.frame_evalua{
    margin: 30px 30px 30px 0;
    background: #F2F2F2 ;
    border-radius: 5px;
    color: #041E42;
    border: 1px solid #a6a6a6;
    .frame_evalua_1{
        background: white;
        padding: 10px 30px 0 30px; 
        border-radius: 5px;
        .icon{
            margin-left: 10px;
            margin-top: -8px;
        }
        p{
            font-size: 24px;   
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 600;
            letter-spacing: 1.5px;
            span{
                margin-left: 35px;
                color: #FFAD33;
            }}}
    .frame_evalua_2{
        padding: 25px 30px;
        .evalua{
            border: 1px solid #C2C2C2;
            background: white;
            padding: 10px;
            box-shadow: 0 1px 0 0 #a6a6a6;
            border-radius: 5px;
            p{ margin-left: 20px;
                color: #8b8a8a;
            }
            span{
                margin-left: 20px;
            }
            .icon{
                color: #FFAD33;
                margin-left: 4px;
                margin-bottom: 3px;
            }
        }
        
    
        button{
            margin-top: 20px;
            padding: 5px 10px;
            border-radius: 5px;
            background: #041E42;
            color: white;
            border: none;
        }
    

    }
    

}
//gửi đánh giá
.modal_wrapper_evalua{
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background: rgba(28, 27, 27, 0.9);
}
.modal_evalua_container{
    color: #041E42;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 650px;
    border-radius: 5px;
    font-size: 16px;
    color: #041E42;

    .evalua_title{
        display: flex;
        justify-content: space-between;
        border-radius: 5px 5px 0 0;
        background: #F5F5F5;
        p{ font-size: 28px;
            margin: 7px 0px 0px 35px;    
        }
        button{
            margin: 10px 35px 10px 0;
            padding: 5px 7px;
            font-size: 10px;
        }
    }
    .evalua_body{
        padding: 35px;

        .evalua_star{
            display: flex;
            justify-content: space-between;
            text-align: center;
        }
        
        .evalua_product{
            display: flex;
            b{ font-size: 20px;
                margin-top: 5px;
                font-weight: bold;
            }
            
            img{
                width: 40px;
                margin: 0px 20px 10px 0;
            }}
        input{
            outline: none;
            padding: 5px ;
            margin-bottom: 15px;
            border: 1px solid #a6a6a6;
            border-radius: 5px;
        }
        span{
            width: 100px;
            padding-top: 25px;
        }
        .inputtext{
            display: flex;
            .input_text{
            width: 100%;
            height: 70px;
            border: 1px solid #a6a6a6;
        }
}
        
        .input_image{
            display: flex;
            .cam{
                font-size: 30px;
                margin-top: 10px;
            }
            input{
                margin: 10px 0 0 60px;
                width: 100%;
            }
        }

        button{
            margin-top: 15px;
            width: 100%;
        }
    }

}


.ask{
    margin: 30px 30px 30px 0;
    background: #F2F2F2 ;
    border-radius: 5px;
    color: #041E42;
    border: 1px solid #a6a6a6;
    .ask_title{
        border-radius: 5px 5px 0 0;
        background: white;
        padding: 10px 30px 0 30px; 
        p{ 
            font-size: 24px;
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 600;
            letter-spacing: 1.5px;
        }}
    .ask_box{
        padding: 25px 30px;
        p{
            padding: 5px;
            border-radius: 5px;
            background: #C2C2C2;
            color: #041E42;

        }
        
        input{
            width: 97%;
            height: 200px;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2PX 0 0 #C2C2C2;
            border: none;
            outline: none;   
        }
        .ask_inf{
            display: flex;
            margin-top: 20px;
            input{
                margin-right: 20px;
                width: 110%;
                height: 25px;
                box-shadow: none;
    
            }
            button{
                background: #041E42;
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                color: white;
                margin-left: 30px;
                width: 70%;
            }
        }

    }

    
}