.wrapperBtn {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
}

.orderStateBtn {
  width: fit-content;
  padding: 8px 10px;
  border-radius: 3px;
  background-color: white;
  border: none;
  outline: none;
  margin: 0 10px;
  color: #041e42;
}

.selectedBtn {
  background-color: #041e42;
  color: white;
}

.orderStateBtn:hover {
  filter: brightness(80%);
}

.wrapperOrders {
}
