.wrapperAccountPage {
  display: flex;
  .container {
    margin: 5px;
    h1 {
      color: #041e42;
    }

    .wrapperForm {
      font-size: 20px;
      .inputContainer {
        display: flex;

        .inputItem {
          margin-right: 10px;
        }
      }

      .selectContainer {
        display: flex;

        .selectItem {
          width: fit-content;
          display: flex;
          flex-direction: column;
          text-align: start;
          justify-content: space-between;
          padding-bottom: 10px;
          padding-top: 3px;
          white-space: nowrap;
          margin-right: 10px;

          label {
            padding-bottom: 10px;
            padding-top: 3px;
            white-space: nowrap;
          }

          select {
            display: block;
            background-color: white;
            /* padding: 10px 7px; */
            width: 200px;
            height: 35px;
            border: none;
            outline: none;
            border-radius: 3px;
            padding-left: 7px;
            box-sizing: border-box;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.25);
          }
        }
      }

      .checkboxContainer {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;
      }

      .wrapperButton {
        display: flex;
        justify-content: center;
        text-align: start;
        align-items: center;

        .navLink {
          margin-left: 30px;
          color: #041e42;
          text-decoration: none;
          &:hover {
            filter: brightness(200%);
          }

          &:active {
            text-shadow: 1px 1px 2px #4791ff;
          }
        }
      }
    }
  }
}
