.swiper {
  height: fit-content;
  overflow: unset;
}

.swiper-wrapper {
  height: fit-content;
  position: relative;
}

.swiper-slide {
  height: auto !important;
  padding: 5px;
  box-sizing: border-box;
  max-height: 420px;
  max-width: 310px;
}

.swiper-pagination {
  display: none;
}

.swiper-content {
  height: 100% !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: black;
  position: absolute;
  background-color: #f2f2f2;
}

.swiper-button-next {
  right: -20px;
  padding-left: 3px;
}

.swiper-button-prev {
  left: -20px;
  padding-right: 3px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  position: absolute;
}
