.content1 {
  display: grid;
  grid-template-columns: 40% 60%;
  position: relative;
  box-sizing: border-box;
  .img1 {
    width: 100%;
    height: 400px;
  }

  .textContent1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    padding: 30px;
    color: white;
    text-align: justify;
    font-weight: lighter;
    .heading1 {
      font-size: 50px;
    }
  }
}

.content2 {
  display: grid;
  grid-template-columns: 5% 90%;
  align-items: center;
  position: relative;
  margin-top: 20px;
  // justify-content: center;

  .img2 {
    width: 100%;
    justify-content: center;
    padding-bottom: 70px;
  }

  .textContent2 {
    position: absolute;
    top: 0;
    width: 60%;
    padding: 5%;
    text-align: justify;
    color: #041e42;
  }
  .box1 {
    background-color: #041e42;
    width: 100%;
    height: 60%;
    // align-items: center;
  }
  .box2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 25%;
    background-color: #041e42;
  }
}

.content3 {
  width: 90%;
  margin: 0 auto;
  .heading {
    margin: 0 auto;
    text-align: center;
    color: #041e42;
  }
  .subContent {
    display: flex;
    align-items: center;
    .item {
      width: 100%;
      margin-right: 10%;
      color: #041e42;
      .line {
        width: 50%;
        background-color: #c2e8c7;
        height: 3px;
        border: none;
      }
    }

    .itemImage {
      position: relative;
      .img {
        margin-top: 20px;
        width: 80%;
        height: 80%;
        padding-bottom: 20px;
      }
      // .box3 {
      //   position: absolute;
      //   background-color: #d9d9d9;
      //   width: 200px;
      //   height: 200px;
      //   right: 0;
      //   bottom: 0;
      //   border-radius: 5px;
      // }
    }
  }
}

@media (max-width: 768px) {
  .content1 {
    .textContent1 {
      width: 70%;
      .heading1 {
        font-size: 2em;
      }
    }
  }

  .content2 {
    .textContent2 {
      width: 90%;
    }
  }
}
