.heading {
  text-align: center;
  padding-top: 20px;
}

.wrapperChangePassword {
  position: relative;
  width: 100%;
  height: 100%;
}

.changePasswordContent {
  width: 470px;
  margin: auto;
}

.wrapperInputField {
  display: flex;
  align-items: start;
  padding: 20px 0;
  /* position: relative; */
}

.inputContainer {
  position: relative;
}

.pwdModal {
  position: absolute;
  top: -45px !important;
  right: 20px;
}

.wrapperLabel {
  min-width: 200px;
}

.inputField {
  width: 300px;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 3px;
}

.labelInput {
  width: 170px;
}

.pwdDirecton {
  font-size: 0.7em;
  text-align: center;
}
.footer {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.changePasswordBtn {
  width: 250px;
  display: block;
  margin-left: 20px;
  text-align: center;
  padding: 8px 0;
  border: none;
  outline: none;
  background-color: #152446;
  color: white;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.1em;
  cursor: pointer;
}
