.main-content--change-pwd {
  background-color: white;
}

.form--change-pwd .heading {
  font-size: 1.7em;
  text-align: start;
  padding-bottom: 10px;
}

.direction {
  text-align: start;
  padding-bottom: 15px;
}
