.form--recovery-password {
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.form--recovery-password .form__content--recovery-pwd {
  align-items: center;
}

.pwd-direction--new {
  width: 300px;
  padding: 10px 0;
  font-size: 0.7em;
  color: gray;
  text-align: start;
}

.input-container--repeat-new-pwd {
  padding-bottom: 30px;
}

.form--recovery-password .label-input {
  width: 100%;
  text-align: start;
}

.modal--revovery-pwd {
  top: -30%;
}
