.wrapperAccountPage {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  max-height: fit-content;
  padding: 50px;
  position: relative;
}

.mainContent {
  width: 100%;
  box-sizing: border-box;
  align-items: stretch;
  padding-left: 50px;
  position: relative;
}

@media screen and (max-width: 975px) {
  .wrapperAccountPage .wrapperSidebar {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .mainContent {
    padding: 0;
  }
}
