.wrapperAccountPage {
  display: flex;
  box-sizing: border-box;
  /* min-height: calc(100vh - 110px); */
  min-height: 100vh;
  max-height: fit-content;
  /* align-items: stretch; */
  padding: 50px;
  position: relative;
}

.mainContent {
  width: 100%;
  box-sizing: border-box;
  align-items: stretch;
  padding-left: 50px;
  position: relative;
}
