.formBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px 0;
  width: 300px;
  border: none;
  outline: none;
  background-color: #152446;
  color: white;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

button:hover{
  color:#041E42;
  background-color: white;
  border: 1px solid #041E42  ;
}

button:active{
  box-shadow: inset 0px 8px 8px -8px rgba(0, 0, 0, 0.3);
}
