.wrapperListAddressModal {
  height: 480px;
  width: 390px;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapperListAddressModal .mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapperListAddressModal .mainContent .heading {
  padding: 10px 15px;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
}

.listAddress {
  padding: 0 15px;
  box-sizing: border-box;
  flex: 1;
}

.listAddress .adrress {
  margin-top: 15px;
  padding-bottom: 15px;
  display: flex;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}

.listAddress .adrress .updateAddressLink {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  color: #0068ff;
  font-weight: 200;
}

.listAddress .adrress .radio {
  margin-right: 10px;
}

.listAddress .adrress .adrressContent {
  display: flex;
  flex-direction: column;
}

.adrressContent .userInfor {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 5px;
}

.adrressContent .userInfor .customerName {
  color: #041e42;
  font-size: 1.1rem;
}

.adrressContent .userInfor .customerPhone {
  color: #595959;
  font-size: 0.9rem;
}

.adrressContent .userAddress {
  width: 90%;
  color: #595959;
  font-size: 0.9rem;
  margin: 0;
}

.addAddressBtn {
  border: 1px solid #041e42;
  border-radius: 3px;
  padding: 5px 30px;
  margin-top: 20px;
}

.addAddressBtn:hover {
  filter: brightness(95%);
}

.addAddressBtn:active {
  box-shadow: inset 0px 8px 8px -8px rgba(0, 0, 0, 0.3);
}

.footer {
  display: flex;
  padding: 10px 15px;
  justify-content: end;
  border-top: 1px solid #d9d9d9;
  gap: 15px;
}

.footer .btn {
  width: 110px;
  padding: 5px 0;
  margin: 0;
  font-size: 0.9rem;
}

.footer .cancelBtn {
  background-color: white;
  color: #041e42;
  border: 1px solid #041e42;
}

.footer .cancelBtn:active {
  box-shadow: inset 0px 8px 8px -8px rgba(0, 0, 0, 0.3);
}
