/* BlogList.css */
.blog-list {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .blog-item {
    flex: 1;
    /* display: flex; */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .blog-image {
    flex: 1;
  }
  
  .blog-image img {
    width: 100%;
    height: auto;
  }
  
  .blog-content {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  .blog-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .blog-date {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .blog-read-more {
    background-color: #007bff;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  