/* src/components/blog/BlogItem.css */
.container {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}

.blog-item {
  display: flex;
  margin-bottom: 20px;
  width: 80%;
  height: 400px;
  margin-right: 10px;
  border: none;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); */
}

.img1 {
  flex: 1;
  margin-right: 20px;
  width: 80%;
  height: auto;
}

.blog-item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px;
  justify-content: center; 
  align-items: flex-start;
}

.blog-item-content h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 570;
  color: #041E42;
  margin: 0 0 100px 10px;
}

.blog-item-content p {
  font-weight: bold;
  text-align: left;
  margin: 0 0 25px 10px;
}

.blog-item-content button {
  border: none;
  font-weight: lighter;
  font-size: 24px;
  color: #041E42;
  display: flex;
  align-items: center;
  background-color: None;

}


.blog-item-content p.date {
  background-color: #C2E8C7; 
  color: #041E42;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px; 
  
}

.blog-item-content p svg {
  margin-right: 5px; /* Khoảng cách giữa icon và nội dung ngày */
  width: 16px;
  height: 16px;
}