.firstLine {
  display: grid;
  grid-template-columns: 25% 15% 22% 25%;
  gap: 5%;
  background-color: #c2e8c7;
  color: #041e42;
  padding: 30px;
  // text-align: justify;

  .input {
    padding: 10px;
    padding-right: 30px;
    border-radius: 15px;
    border: 1px solid white;
    width: 85%;
    box-sizing: border-box;
  }

  .button {
    position: absolute;
    right: 6%;
    padding-top: 7px;
    cursor: pointer;
  }

  .link {
    text-decoration: none;
    color: #041e42;
    &:hover {
      text-decoration: underline;
    }

    &:active {
      text-shadow: 1px 1px 2px grey;
      color: #0068ff;
    }
  }
}

.secondline {
  background-color: #041e42;
  color: #9f9f9f;
  padding: 10px;
  text-align: center;
  .secondLineContent {
    margin-bottom: 0;
    font-size: 1.1em;
  }
}

// .paddingBottom {
//   padding-bottom: 5px;
// }

@media (max-width: 768px) {
  .firstLine > div:nth-child(1) {
    display: none;
  }

  // Điều chỉnh các cột còn lại để chiếm toàn bộ không gian
  .firstLine {
    display: block;
    .button {
      right: 20%;
    }

    .formButton {
      display: none;
    }

    .item {
      margin-bottom: 10px;
      .formButton {
        display: none;
      }
    }
  }
}
