.wrapperSingleOrder {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
}

.wrapperSingleOrder .headingOrder {
  display: flex;
  justify-content: space-between;
}

.wrapperSingleOrder .headingOrder .wrapperHeadingTextAndBtn {
  display: flex;
}

.wrapperHeadingTextAndBtn .headingText {
  padding-right: 10px;
}

.wrapperHeadingTextAndBtn .headingBtn {
  height: fit-content;
  width: fit-content;
  border: none;
  outline: none;
  background-color: #ffdfe3;
  border-radius: 3px;
  padding: 3px;
}

.headingOrder .orderStatusText {
  color: #0068ff;
}

.wrapperProducts {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.wrapperSingleProduct {
  height: 130px;
  display: flex;
  align-items: center;
  padding: 15px 0;
  /* border-top: 1px solid #d9d9d9; */
}

.wrapperSingleProduct .productImage {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 10px;
  margin-right: 20px;
}

.wrapperSingleProduct .productImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrapperSingleProduct .productInfo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.productInfo .productName,
.productInfo .productQuantity {
  color: #00337d;
  font-size: 1.1rem;
  margin: 0;
}

.productInfo .productClassify {
  color: #595959;
}

.wrapperSingleProduct .productPrice {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.productPrice .wrapperPrice {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrapperPrice .productPriceThrough {
  text-decoration: line-through;
  font-size: 0.8rem;
  color: #d9d9d9;
}

.wrapperPrice .productPriceShow {
  color: #0068ff;
  font-weight: bold;
  font-size: 1rem;
}

.wrapperSingleOrder .wrapperTotalAmount {
  text-align: end;
  padding: 15px 0;
}

.wrapperTotalAmount .totalAmount {
  color: #0068ff;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 10px;
}

.wrapperSingleOrder .wrapperFooterBtn {
  display: flex;
  justify-content: end;
}

.wrapperFooterBtn .footerBtn {
  margin: 0;
  margin-left: 20px;
  width: fit-content;
  height: fit-content;
  padding: 7px 35px;
}

.wrapperFooterBtn .detailBtn {
  background-color: white;
  color: #041e42;
  border: 1px solid #041e42;
}

.onShippingDirectTxt {
  width: 40%;
  font-size: 0.7rem;
  color: grey;
  margin: 0;
  padding: 0;
}
